<div class="contact-container">
    <h4>Contacto</h4>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <mat-form-field class="full-width">
        <input matInput placeholder="Nombre" required [(ngModel)]="contact.name" name="name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" required [(ngModel)]="contact.email" name="email">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Mensaje" required [(ngModel)]="contact.message" name="message"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="!contactForm.valid">Enviar</button>
</form>
</div>
