.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: white;
  }
  
  .about-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .about-info {
    max-width: 600px;
  }
  
  .about-info p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-img {
      width: 150px;
      height: 150px;
    }
  }